@import "reset.css" all;
@import "grid.css" all;

/*
FONTS
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap&subset=cyrillic');

.animated.delay-0-3s {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.animated.delay-0-5s {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.animated.delay-0-8s {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.animated.delay-1-5s {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.animated.delay-2-5s {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

/* COMMON */
* {
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	width: 100%;
	overflow-x: hidden;
}
body {
	width: 100%;
	font-size: 14px;
}
@media (min-width: 1366px) and (max-width: 1920px) {
	body {
		font-size: 10px;
	}
}
.logo {
	position: absolute;
	width: 175px;
	height: 220px;
	left: 60px;
	top: -15px;
}
@media (min-width: 992px) and (max-width: 1366px) {
	.logo {
		width: 125px;
		height: 160px;
	}
}
.logo__photo {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-image: url(../img/logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 5;
}
.logo__shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 0% 0% 140% 0% / 0% 0% 45% 0%;
	box-shadow: 0 0 20px 15px #fff;
	z-index: 1;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.logo__shadow {
		top: -2px;
	}
}
.header__menu {
	display: block;
	position: fixed;
	min-height: 54px;
	background-color: #fff;
	top: 12px;
	left: 0;
	right: 0;
	z-index: 50;
	box-shadow: 0 2px 6px 0px #9ecad5;
}
.main-menu {
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	list-style-type: none;
	min-height: inherit;
	font-size: 2.4em;
}

.main-menu__item {
	line-height: 54px;
}
.main-menu__link {
	color: #01336e;
	text-decoration: none;
	outline: none;
	transition: 0.2s linear;
}
.main-menu__link:hover, .main-menu__link:active, .link--active {
	color: #00adb5;
	text-decoration: none;
}
.slider:after {
	position: absolute;
	display: block;
	content: '';
	right: 60px;
	bottom: 40px;
	width: 110px;
	height: 165px;
	background-color: #fff;
	background-image: url(../img/logo-rrf.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 15;
	box-shadow: 0 8px 20px 1px rgba(32, 40, 48, 0.65);
}
.slider .slick-dots {
	position: absolute;
	bottom: 30px;
}
.slider .slick-dots li {
	width: 15px;
	height: 15px;
	margin: 0 8px;
}
.slider .slick-dots li button {
	width: 15px;
	height: 15px;
}
.slider .slick-dots li button:before, .slider .slick-dots li.slick-active button:before {
	opacity: 1;
	color: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	line-height: 1;
}
.slider .slick-dots li.slick-active button:before {
	background-color: #fff;
}
.slick-slide img {
	width: 100%;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slogan {
	text-align: center;
	font-size: 3.8em;
	line-height: 1.2;
	text-transform: uppercase;
}
.slogan__main {
	display: block;
	font-weight: 700;
}
.slogan__sub {
	display: block;
	font-weight: 300;
}
.line-wave__text {
	position: relative;
	display: block;
	text-decoration: none;
	font-size: 13.7em;
	font-weight: bold;
	line-height: 0.8;
	padding: 0;
	margin: 0 20px;
}
.line-wave {
	content: "";
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.line-anime{animation:shift 0.9s linear infinite; transform:translateY(10px);}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='line-anime' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	height: 5px;
	width: 100%;
}
.line-wave-1 { bottom:  2px; }
.line-wave-2 { bottom:  6px; }
.line-wave-3 { bottom: 10px; }
.line-wave-4 { bottom: 14px; }
.line-wave-5 { bottom: 18px; }
.line-wave-6 { bottom: 22px; }
.line-wave-7 { bottom: 26px; }
.line-wave-8 { bottom: 30px; }
.line-wave-9 { bottom: 34px; }

.advantages {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #01336e;
	padding: 40px 0 20px 0;
	overflow-x: hidden;
}
.advantages__fish {
	display: block;
	margin: 0 auto;
	max-width: 900px;

	margin-bottom: 30px;
	left: 30px; /* Это непонятно, почему бы просто не по центру ??? */
}
@media (min-width: 1366px) and (max-width: 1920px) {
	.advantages__fish {
		max-width: 625px;
	}
}
.advantages__bullets {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	align-items: flex-end;
	margin-bottom: 45px;
}
.advantage__bullet {
	width: 130px;
	height: 130px;
	margin: 0 30px;
	cursor: pointer;
	transition: 0.2s linear;
}
@media (min-width: 1366px) and (max-width: 1920px) {
	.advantage__bullet {
		width: 98px;
		height: 98px;
		margin: 0 12px;
	}
}
.advantage__item {}
.advantage__info {
	position: absolute;
	font-family: 'Neucha', cursive;
	color: #01336e;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.68px;
	transform: translateY(-100%);
}
.advantage__info--wild-fish {
	top: -65px;
	left: -60px;
}
.advantage__info--wild-fish:after {
	position: absolute;
	content: '';
	background-image: url(../img/arrow-wild-fish.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 62px;
	height: 58px;
	bottom: -62px;
	left: 28px;
}
.advantage__info--omega-3 {
	top: -49px;
	left: -70px;
}
.advantage__info--omega-3:after {
	position: absolute;
	content: '';
	background-image: url(../img/arrow-omega-3.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 87px;
	height: 49px;
	bottom: -42px;
	left: 29px;
}
.advantage__info--ca-mg-i {
	top: -50px;
	right: -120px;
}
.advantage__info--ca-mg-i:after {
	position: absolute;
	content: '';
	background-image: url(../img/arrow-ca-mg-i.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 82px;
	height: 57px;
	bottom: -57px;
	left: -67px;
}
.advantage__info--mechanic {
	top: -63px;
	right: -110px;
}
.advantage__info--mechanic:after {
	position: absolute;
	content: '';
	background-image: url(../img/arrow-mechanic.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 61px;
	height: 58px;
	bottom: -73px;
	left: -55px;
}
.advantage__item:hover .advantage__bullet {
	transform: scale(1.1);
}
.advantage__item:hover .advantage__info {
	transition: 0.2s linear;
	display: block;
}
.advantages__description {
	color: #01336e;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 2.4em;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}
.promo {
	width: 100%;
	padding: 230px 0 0px 0;
	background-image: url(../img/bg-promo.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.promo .slick-list {
	padding-bottom: 65px;
}
.product-slide {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
}
.col {
	position: relative;
	display: block;
}
.col--half {
	display: inline-block;
	width: 50%;
	float: left;
}
.col--info {
	padding-bottom: 80px;
}
.product-slider__photo {
	position: relative;
	display: block;
	max-width:  423px;
	max-height: 610px;
	z-index: 10;
}
.product-slider__photo img {
	width: 100%;
	height: 100%;
}
.product-slider__photo:after, .all-products-slider .product__photo:after {
	position: absolute;
	display: block;
	content: '';
	background-image: url(../img/product-shadow.png);
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
}
.product-slider__photo:after {
	width: 120%;
	height: 135px;
	bottom: -75px;
	left: 60%;
	transform: translateX(-50%);
}
.all-products-slider .product__photo:after {
	width: 120%;
	height: 135px;
	bottom: -75px;
	left: 50%;
	transform: translateX(-50%);
}
.product-slide__title {
	color: #01336e;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 3.6em;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 30px;
}
.option-list {
	width: 65%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1.5;
	color: #01336e;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
}
.btn {
	display: inline-block;
	min-width: 160px;
	text-align: center;
	padding: 10px 20px 16px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 2.2em;
	font-weight: 700;
	text-transform: lowercase;
	line-height: 1;
	border-radius: 100px;
	cursor: pointer;
	outline: none;
	transition: 0.2s linear;
	user-select: none;
	text-decoration: none;
	color: #fff;
}

.btn:hover {
	text-decoration: none;
	color: #fff;
}
.btn--orange {
	color: #fff;
	background-color: #f05840;
}
.btn--orange:hover, .btn--orange:active {
	color: #fff;
	background-color: #ff6f59;
	text-decoration: none;
}
.btn--promo-buy {
	padding-right: 45px;
}
.btn--promo-buy:after {
	position: absolute;
	display: inline-block;
	width: 13px;
	height: 13px;
	content: '';
	background-image: url(../img/gde-kupit-strelka.svg);
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.slider-prev, .slider-next {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}
.slider-prev {
	background-image: url(../img/slider-prev.svg);
}
.slider-next {
	background-image: url(../img/slider-next.svg);
}
.promo-prev, .promo-next {
	position: absolute;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	outline: none;
	top: 50%;
	transform: translateY(-50%);
}
.promo-prev {
	left: 0;
}
.promo-next {
	right: 0;
}
.promo-nav {
	padding-bottom: 80px;
}
.promo-nav .slick-track {
	padding: 40px 0 20px 0;
}
.promo-nav-slide {
	text-align: center;
	outline: none;
}
.promo-nav-slide img {
	display: inline-block;
	width: 100px;
	height: 139px;
	transition: 0.5s linear;
}
.promo-nav-slide:after {
	position: absolute;
	display: inline-block;
	content: '';
	background-image: url(../img/product-preview-shadow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	left: 50%;
	transform: translateX(-50%);
	bottom: -8px;
	width: 80%;
	height: 15px;
	z-index: -1;
}
.promo-nav-slide.slick-current img {
	display: inline-block;
	transform: rotate(-15deg) translateY(-30px);
}
.product__rating {
	margin-top: 30px;
}
.product__rating img {
	display: inline-block;
	width: 22px;
	height: 21px;
	cursor: pointer;
}
.wave-separator .line-wave {
	position: relative;
	bottom: auto;
	height: 2px;
	background: rgba(168, 227, 255);
}
.wave-separator .line-wave {
	margin-top: 7px;
}
.section-title {
	width: 100%;
	text-align: center;
	color: #01336e;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 5.4em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.recipes {
	padding: 80px 0;
	overflow-x: hidden;
}
.recipes .section-title {
	margin-bottom: 100px;
}
.wave-separator {
	width: 100%;
	height: 55px;
	background-image: url(../img/volna-2560.svg);
	background-repeat: repeat-x;
	background-position: center;
	background-size: 100%;
}
.recipe-main-photo {
	padding: 0 24px;
}
.recipes-slider-wrap {
	margin-top: 65px;
}
.recipe {
	position: relative;
	width: 100%;
	min-height: 240px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.recipe.slick-slide {
	padding: 0 24px;
}
.recipe--main {
	min-height: 390px;
	border-radius: 10px;
}
.recipe img {
	position: absolute;
	display: inline-block;
	width: 105%;
	overflow:hidden;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.recipe img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.recipe__info {
	height: 100%;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 24px;
	color: #01336e;
	line-height: 1.2;
}
.recipe-name {
	width: 65%;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 4.1em;
	font-weight: 700;
}
@media (min-width: 1366px) and (max-width: 1920px) {
	.recipe-name {
		width: 50%;
	}
}
.recipe__link, .recipe__link:hover {
	text-decoration: none;
	outline: none;
}
.slider-controls {
	max-width: 220px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 50px;
}
.details {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.time, .portion {
	width: 26%;
	display: inline-block;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 2.4em;
	font-weight: 300;
	line-height: 44px;
	padding-left: 55px;
	margin: 35px 0 45px 0;
}
.time:after, .portion:after {
	position: absolute;
	content: '';
	width: 44px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	left: 0;
	top: 0;
}
.time:after {
	background-image: url(../img/timer.svg);

}
.portion:after {
	background-image: url(../img/plate.svg);
}
.recipe__photo {
	min-height: 240px;
	border-radius: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.recipe__caption {
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
	color: #01336e;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 2.2em;
	font-weight: 700;
}
.trava {
	position: absolute;
	background-image: url(../img/trava.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}
.recipes .trava {
	width: 138px;
	height: 115px;
	top: 6%;
	left: 52%;
}
.svekla {
	position: absolute;
	background-image: url(../img/svekla.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}
.svekla-hor-right {
	background-image: url(../img/svekla.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(270deg);
}
.recipes .svekla {
	width: 367px;
	height: 587px;
	top: 0;
	left: 73%;
}

/* COMMENTS */
.comments {
	background: rgb(146,206,212);
	background: linear-gradient(0deg, rgba(146,206,212,1) 0%, rgba(209,232,235,1) 50%, rgba(255,255,255,1) 100%);
	padding: 75px 0;
	overflow-x: hidden;
}
.quote {
	display: block;
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}
.comments .quote-up {
	background-image: url(../img/quote-stroke.svg);
	width: 250px;
	height: 185px;
	top: 2%;
	left: -15%;
}
@media (min-width: 1200px) and (max-width: 1920px) {
	.comments .quote-up {
		left: -2%;
	}
}

.comments .quote-down {
	background-image: url(../img/quote-stroke-down.svg);
	width: 250px;
	height: 185px;
	top: 72%;
	right: -15%;
}
@media (min-width: 1200px) and (max-width: 1920px) {
	.comments .quote-down {
		right: -2%;
	}
}
.comments .slick-list {
	margin: 0 -25px;
}
.comments .slick-track {
	padding: 20px 0;
}
.comments .section-title {
	margin-bottom: 75px;
}
.comment {
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ffffff;
	padding: 66px 49px 41px 49px;
	margin: 0 25px;
	box-shadow: 0 7px 15px 1px #9ecad5;
}
.comment:before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 110px;
	height: 80px;
	background-image: url(../img/quote-gray.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: 20px;
	left: 30px;
}
.comment__text {
	position: relative;
	width: 100%;
	color: #01336e;
	font-family: "Open Sans";
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 50px;
	min-height: 100px;
	max-height: 100px;
	padding-right: 20px;
}
.comment__more {
	position: absolute;
	display: inline-block;
	bottom: -15px;
	left: 0;
	font-size: 1.6em;
	color: #f05840;
	transition: 0.3s linear;
}
@media (min-width: 1366px) and (max-width: 1920px) {
	.comment__more {
		bottom: 0;
	}
}
.comment__more:hover {
	text-decoration: none;
	color: #ffa597;
	border-color: #ffa597;
}
.author__photo {
	width: 65px;
	height: 68px;
	margin-right: 16px;
}
.comment__author {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}
.author__photo img {
	width: inherit;
	height: inherit;
}
.author__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.author__link, .author__link:hover {
	text-decoration: none;
}
.author__name {
	color: #01336e;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 2.2em;
	font-weight: 700;
}
.author__type {
	color: #acb2b5;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	line-height: 1.5;
}
.animated-scroll {
	will-change: auto;
	opacity: 0;
}
.slick-slide {
	outline: none;
}

/* FAQ */
.faq {
	padding: 100px 0;
}
.faq .section-title {
	margin-bottom: 100px;
}
.faq__row {
	width: 100%;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 70px;
}
.faq__avatar {
	width: 105px;
	height: 110px;
	margin-right: 25px;
	margin-bottom: -40px;
}
.faq__avatar--antei {
	margin-left: 25px;
	margin-right: 0;
	align-self: flex-end;
}
.faq__buble {
	width: 100%;
	display: inline-block;
	border-radius: 50px;
	box-shadow: 0 4px 0px 2px #dae3e8;
	z-index: 1;
}
.faq__buble--question {
	width: auto;
	font-family: "Open Sans Condensed", sans-serif;
	background-color: #00acb5;
	color: #ffffff;
	font-size: 2.6em;
	font-weight: 700;
	line-height: 1.2;
	padding: 24px 50px;
}
.faq__buble:before, .faq__buble:after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 45px;
	height: 25px;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
}
.faq__buble--question:before {
	background-image: url(../img/buble-tail-green-l.svg);
	bottom: -20px;
	left: 10px;
	z-index: 5;
}
.faq__buble--question:after {
	background-image: url(../img/buble-tail-gray-l.svg);
	left: 12px;
	bottom: -24px;
	z-index: 1;
}
.faq__buble--answer {
	background-color: #ebf1f5;
	color: #01336e;
	font-family: "Open Sans", sans-serif;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1.5;
	padding: 50px 65px;
}
.faq__buble--answer:before {
	background-image: url(../img/buble-tail-green-r.svg);
	bottom: -20px;
	right: 10px;
	z-index: 5;
}
.faq__buble--answer:after {
	background-image: url(../img/buble-tail-gray-r.svg);
	right: 12px;
	bottom: -24px;
	z-index: 1;
}
.fishing {

}
.fishing-map {
	width: 100%;
	height: auto;
}
.fishing-point {
	opacity: 0;
	position: absolute;
	width: 50px;
	height: 15px;
	background-image: url(../img/fishing-point.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.fishing-point-1 {
	top: 84%;
	left: 25%;
}
.fishing-point-2 {
	top: 61%;
	left: 38%;
}
.fishing-point-3 {
	top: 51%;
	left: 48%;
}
.fishing-point-4 {
	top: 41%;
	left: 53%;
}
.fishing-point-5 {
	top: 16%;
	left: 71%;
}
.fishing-process-img {
	width: 100%;
	height: 410px;
}
#fishing-process {
	position:relative;
	width: 100%;
	height: 410px;
	margin-bottom: 30px;
}
#fishing-process ul li {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	list-style: none;
}
#fishing-process ul li.show {
	opacity: 1;
	z-index:10;
}
.answer-img {
	width: 100%;
	display: block;
	margin-bottom: 30px;
}
/*.fishing-process {
	display: block;
	position: relative;
	top: 0;
}
.fishing-process-2, .fishing-process-3 {
	display: none;
}*/
.btn--questions-more {
	margin-top: 30px;
}
.js-question-more {
	width: 100%;
	text-align: center;
	padding-left: 8.33333%;
}
.js-question-more-wrap {
	display: none;
}
.bg-elem {
	display: block;
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}
.bg-fish-big {
	background-image: url(../img/faq-ivasi-big.svg);
	width: 392px;
	height: 102px;
	top: 11%;
	left: 60%;
}
.bg-fish-small {
	background-image: url(../img/faq-ivasi-small.svg);
	width: 225px;
	height: 59px;
	top: 17%;
	left: 53%;
}
.bg-ship {
	background-image: url(../img/ship-gray.svg);
	width: 470px;
	height: 343px;
	bottom: 0;
	left: 5%;
}

/* CERTIFICATE */
.certificates {
	background: rgb(146,206,212);
	background: linear-gradient(0deg, rgba(146,206,212,1) 0%, rgba(209,232,235,1) 50%, rgba(255,255,255,1) 100%);
	padding: 80px 0;
	min-height: 827px;
}
.certificates .section-title {
	margin-bottom: 60px;
}
.bg-schoolfish-lt {
	background-image: url(../img/school-lt.svg);
	width: 166px;
	height: 155px;
	top: 17%;
	left: 13%;
}
.bg-schoolfish-rt {
	background-image: url(../img/school-rt.svg);
	width: 224px;
	height: 83px;
	top: 23%;
	right: 7%;
}
.bg-schoolfish-lb {
	background-image: url(../img/school-lb.svg);
	width: 198px;
	height: 197px;
	top: 64%;
	left: 9%;
}
.bg-schoolfish-rb {
	background-image: url(../img/school-rb.svg);
	width: 141px;
	height: 164px;
	top: 60%;
	right: 13%;
}
.certificate {
	text-align: center;
}
.certificate > a {
	outline: none;
	text-decoration: none;
}
.certificate__frame {
	display: inline-block;
	background-image: url(../img/certifikat-frame.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 237px;
	height: 334px;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	margin-top: 59px;
	margin-bottom: 45px;
}
.certificate.slick-current .certificate__frame {
	width: 278px;
	height: 393px;
	margin-top: 0;
}
.certificate__title {
	text-align: center;
	color: #01336e;
	font-family: "Open Sans Condensed";
	font-size: 2.2em;
	font-weight: 700;
}

/* SHOPS */
.shops {
	padding: 90px 0 120px 0;
}
.shops .section-title {
	margin-bottom: 100px;
}
.shops-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	transition: 1s ease-in-out;
}
.shops-list--hidden {
	display: none;
}
.shop-icon {
	width: 20%;
	padding: 15px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-decoration: none;
	outline: none;
	margin-bottom: 100px;
}
.shop-icon img {
	width: 100%;
	height: auto;
}
.shop-icon span {
	position: absolute;
	color: #01336e;
	font-family: "Open Sans Condensed";
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 20px;
	text-transform: uppercase;
	top: -20px;
}
.shop-icon-final {
	margin-bottom: 0;
}
.js-less-shops, .btn--questions-less {
	padding-right: 40px;
}
.js-less-shops:after, .btn--questions-less:after {
	display: inline-block;
	width: 20px;
	height: 14px;
	content: '';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-55%);
	background-image: url(../img/svernut.svg);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
/* FOOTER */
footer {
	background: linear-gradient(0deg, rgba(146,206,212,1) 0%, rgba(209,232,235,1) 50%, rgba(255,255,255,1) 100%);
	padding: 75px 0 0 0;
}
footer .section-title {
	margin-bottom: 70px;
}
.bg-footer-ship {
	background-image: url(../img/kontakt-ship.svg);
	width: 423px;
	height: 309px;
	top: 23%;
	right: 10%;
}
.block-title, .phone {
	color: #01336e;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 3.3em;
	font-weight: 700;
	margin-bottom: 20px;
}
.address {
	color: #01336e;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 1.8em;
	line-height: 2;
}
.copyrights {
	padding: 16px 0 25px 0;
	margin: 80px 40px 0 40px;
	border-top: 1px solid #fff;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1;
}


/* PRODUCT PAGE */
.product .slide__image {
	width: 100%;
}
.recipe-ingredients {
	padding: 60px 0;
}
.recipe-ingredients .recipe-name {
	width: 100%;
}
.recipe-ingredients .time, .recipe-ingredients .portion {
	width: auto;
	font-weight: 700;
	margin-right: 40px;
}
.recipe-ingredients .ingredients {
	width: 100%;
}
.recipe-ingredients .ingredients .col {
	color: #01336e;
	font-family: "Open Sans Condensed";
	font-size: 2.4em;
	font-weight: 300;
	line-height: 2;
	list-style-type: none;
}
.recipe-ingredients .ingredients .col li:before {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 5px;
	content: '';
	background-color: #f15940;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 10px;
}
.recipe-ingredients .slider-controls {
	max-width: 550px;
}
.prev-recipe, .next-recipe {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}
.prev-recipe:hover, .next-recipe:hover {
	text-decoration: none;
}
.prev-recipe {
	justify-content: flex-start;
}
.next-recipe {
	justify-content: flex-end;
}
.prev-text, .next-text {
	color: #143e74;
	font-family: "Open Sans Condensed";
	font-size: 2.4em;
	font-weight: 300;
}
.prev-text {
	margin-right: 20px;
}
.next-text {
	margin-left: 20px;
}

.cooking {
	padding: 80px 0;
}
.how-to-cook-title {
	text-align: center;
	color: #01336e;
	font-family: "Open Sans Condensed";
	font-size: 5.4em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.cooking-step {
	padding: 80px 0;
}
.cooking-step--gray {
	background-color: #f4f8fa;
}
.cooking-step-col {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
}
.cooking-step__title {
	color: #01336e;
	font-family: "Open Sans Condensed";
	font-size: 3.6em;
	font-weight: 700;
	line-height: 1;
	margin-top: 30px;
	z-index: 5;
}
.cooking-step__description {
	color: #01336e;
	font-size: 1.8em;
	font-family: "Open Sans";
	font-weight: 400;
	line-height: 1.7;
	width: 50%;
	z-index: 5;
}
.cooking-step__number {
	position: absolute;
	color: #dae2e6;
	font-family: "Open Sans";
	font-size: 34.1em;
	line-height: 1;
	font-weight: 700;
	top: 0;
	right: 60px;
}
.cooking-step .svekla-hor-right{
	height: 455px;
	width: 368px;
	top: 43%;
	left: 10%;
}
.cooking-step .col {
	padding: 0 25px;
}
.all-recipes {
	padding: 80px 0;
}
.all-recipes .section-title {
	margin-bottom: 70px;
}
.recipes-catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
}
.recipes-catalog .recipe {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 30%;
}
.recipes-catalog .recipe .recipe__photo {
	width: 100%;
}
.all-recipes .recipes-more {
	padding: 35px 0;
	width: 100%;
	text-align: center;
}
.all-products {
	padding: 70px 0;
}
.all-products .section-title {
	margin-bottom: 80px;
}
.all-products .product-slide { text-align: center; }
.all-products .product__item {
	display: inline-block;
	width: 237px;
	height: 334px;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	margin-top: 59px;
	margin-bottom: 45px;
}
.all-products .product-slide.slick-current .product__item {
	width: 278px;
	height: 393px;
	margin-top: 0;
}
.all-products .product__title {
	text-align: center;
	color: #01336e;
	font-family: "Open Sans Condensed";
	font-size: 2.2em;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 20px;
}
.all-products .description {
	color: #01336e;
	font-family: "Open Sans";
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1.5;
}
.all-products .slider-controls {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}
.all-products-controls {
	margin-top: 55px;
}
.all-products .slider-controls {
	max-width: 220px;
	width: 100%;
	margin: 0;
}
.all-products-controls .btn--promo-buy, a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	color: #fff;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align-last:
}
.hide {
	display: none;
}