/* PRODUCT PAGE */
@media (max-width: 700px) {
    .product .slider-wrap {
        display: none;
    }
}

@media (max-width: 1024px) {
    .product .bg-elem {
        display: none;
    }
    .product .bg-footer-ship {
        display: inline-block;
    }
}

.product .slide__image {
    width: 100%;
}

.recipe-ingredients {
    padding: 3.8em 0 5.8em;
}

@media (max-width: 700px) {
    .recipe-ingredients {
        padding-top: 6.4em;
    }
    .recipe-ingredients .container {
        width: 100%;
    }
}

.option-name {
}

.option-name:before {
    display: inline-block;
    width: 0.2em;
    height: 0.2em;
    border-radius: 1em;
    content: '';
    background-color: #f15940;
    left: 0;
    transform: translateY(-130%);
    margin-right: 0.5em;
}

.option-separator {
    margin: 0 0.3em;
}

@media (max-width: 700px) {
    .option-separator {
        display: none;
    }
}

.option-value {
}

.recipe-ingredients .recipe__info {
    justify-content: flex-start;
    padding-left: 3em;
    padding-top: 3.5em;
}

@media (max-width: 700px) {
    .recipe-ingredients .recipe__info {
        padding: 0;
        margin: 0;
        color: #fff;
        width: 100%;
        margin-top: 3em;
        height: auto;
    }
}

.recipe-ingredients .recipe-name {
    font-size: 4.6em;
    margin: 0;
    line-height: 1.2;
    letter-spacing: -1.7px;
    color: #01336e;
}

@media (max-width: 700px) {
    .recipe-ingredients .recipe-name {
        font-size: 3.7em;
        font-weight: 700;
        padding-left: .5em;
        text-transform: uppercase;
        width: 75%;
        margin: 0 auto;
        text-align: center;

    }
}

.recipe-ingredients .details {
    margin: 2.7em 0;
}

@media (max-width: 700px) {
    .recipe-ingredients .details {
        margin-top: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 35px;
    }
}

.recipe-ingredients .time, .recipe-ingredients .portion {
    width: auto;
    font-weight: 700;
    margin-right: 0.7em;
    line-height: 1.9em;
    padding-left: 2.1em;
}

@media (max-width: 700px) {
    .recipe-ingredients .time, .recipe-ingredients .portion {
        font-size: 3em;
        color: #01336e;
        margin: 0;
    }
}

.recipe-ingredients .ingredients {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    .recipe-ingredients .ingredients {
        flex-direction: column;
        justify-content: flex-start;
        /*margin-top: 15em;*/
        margin-top: 0;
    }
    .recipe-ingredients .ingredients .col {
        width: 100% !important;
    }
}
@media (max-width: 700px) {
    .recipe-ingredients .ingredients {
        padding: 0 35px;
    }
}
.recipe-ingredients .ingredients .col {
    font-size: 2.35em;
    line-height: 1.5;
    list-style-type: none;
    padding-left: 0.1em;
    color: #01336e;
}

@media (max-width: 700px) {
    .recipe-ingredients .ingredients .col {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .recipe-ingredients .ingredients .col li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.recipe-ingredients .recipe-main-photo {
    padding: 0 1.8em;
}

@media (max-width: 700px) {
    .recipe-ingredients .recipe-main-photo, .recipe-ingredients .recipe-main-info {
        width: 100%;
        padding: 0;
    }
}

.recipe-ingredients .slider-controls {
    display: flex;
    width: 100%;
    max-width: 54.0em;
    margin-top: 4.7937em;
}

@media (max-width: 700px) {
    .recipe-ingredients .slider-controls {
        margin: 0;
        max-width: none;
    }
}

.recipe-ingredients .recipe--main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36em;
    border-radius: 1em;
}

@media (max-width: 700px) {
    .recipe-ingredients .recipe--main {
        width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .recipe-ingredients .recipe--main:after {
        position: absolute;
        display: block;
        content: '';
        right: 1.8em;
        bottom: 3.6em;
        width: 7.2em;
        height: 10.4em;
        background-color: #fff;
        background-image: url(../img/logo-rrf.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 15;
        box-shadow: 0 0.75em 0.6em 0.2em rgba(32, 40, 48, 0.65);
    }
    .recipe-ingredients .recipe--main {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }

    .recipe-ingredients .recipe--main img {
        height: 100%;
        width: auto;
        /*max-width: 100%;*/
        /*max-height: 100%;*/
    }
}

.recipes-navigation--mobile {
    display: none;
}

@media (max-width: 700px) {
    .recipes-navigation {
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -37.5em;
        position: absolute;
        /*border-bottom: 1px solid #b5e7ff;*/
        padding-bottom: 1.4em;
        display: none;
    }
    .recipes-navigation--mobile {
        position: relative;
        margin-top: 3em;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .recipe-ingredients .recipe--main {
        height: 50em;
    }
}

.prev-recipe, .next-recipe {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 50%;
}

.prev-recipe:hover, .next-recipe:hover {
    text-decoration: none;
}

.prev-recipe {
    justify-content: flex-start;
}

.next-recipe {
    justify-content: flex-end;
}

.prev-text, .next-text {
    color: #143e74;
    font-size: 2.2em;
}

.prev-text {
    margin-right: 1em;
}

.next-text {
    margin-left: 1em;
}

@media (max-width: 700px) {
    .prev-recipe, .next-recipe {
        flex-direction: row-reverse;
    }

    .prev-text {
        margin-right: 0;
        margin-left: 1em;
        width: 50%;
    }

    .next-text {
        margin-right: 1em;
        margin-left: 0;
        width: 50%;
        text-align: right;
    }
}

.cooking {
    padding: 5.6em 0;
}

.how-to-cook-title {
    text-align: center;
    font-size: 5.2em;
    line-height: 1;
    text-transform: uppercase;
}

.cooking-step {
    padding: 8em 0 10.5em 0;
}

@media (max-width: 700px) {
    .cooking-step {
        padding: 2.8em 0;
    }
}

.cooking-info, .cooking-photo {
    width: 50%;
}

.cooking-info {
    padding-left: 4.5em;
}

.cooking-step--gray .cooking-info {
    padding-left: 6.3em;
}

.cooking-photo {
    padding: 0 0 0 3em;
}

.cooking-step--gray .cooking-photo {
    padding: 0 1.5em;
}

@media (max-width: 1024px) {
    .cooking-info, .cooking-photo, .cooking-step--gray .cooking-info, .cooking-step--gray .cooking-photo {
        width: 100%;
        padding: 0 2em;
    }

    .cooking-info {
        order: 0;
    }

    .cooking-photo {
        order: 1;
    }
}

.cooking-photo .col.col--half {
    padding-left: 3.4em;
}

.cooking-step .recipe--main {
    border-radius: 1em;
    height: 35.5em;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .cooking-step .recipe--main {
        width: auto;
    }
}

@media (max-width: 700px) {
    .cooking-step .recipe--main {
        height: 30em;
        width: 100%;
    }
}

.cooking-step--gray {
    background-color: #f4f8fa;
}

.cooking-step-col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
}

.cooking-step__title {
    font-size: 3.3em;
    line-height: 1;
    margin-top: 0.85em;
    z-index: 5;
    margin-bottom: 0.3em;
}

.cooking-step__description {
    font-size: 1.8em;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.4;
    width: 65%;
    z-index: 5;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .cooking-step__description {
        margin-bottom: 2em;
    }
}

@media (max-width: 700px) {
    .cooking-step__description {
        width: 100%;
        font-size: 2.2em;
        margin-bottom: 2em;
    }
}

.cooking-step__number {
    position: absolute;
    color: #dae2e6;
    font-family: "Open Sans";
    font-size: 31.2em;
    line-height: 1;
    font-weight: 700;
    top: 0.04em;
    left: 1.125em;
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .cooking-step__number {
        left: 0.95em;
    }
}

@media (max-width: 1024px) {
    .cooking-step__number {
        display: none;
    }
}

.cooking-step .svekla-hor-right {
    top: 16%;
    left: 17%;
    height: 46.8em;
    width: 31.8em;
    z-index: -1;
}

.cooking-step .fish {
    bottom: -45%;
    left: 14%;
    width: 47em;
    height: 33em;
    z-index: -1;
}

.cooking-step .potato {
    width: 30em;
    height: 30em;
    left: 9%;
    bottom: -20%;
}

.cooking-step .carrot {
    bottom: -36%;
    left: 5%;
    width: 43em;
    height: 33em;
    z-index: -1;
}

.cooking-step .col {
    padding: 0 2.5em;
}

.all-recipes {
    padding: 0.5em 0 2.5em;
}

@media (max-width: 700px) {
    .all-recipes {
        padding: 0.5em 0 6.25em;
    }
}

.all-recipes .section-title {
    margin-bottom: 1.3em;
}

.recipes .slick-list.draggable {
    margin: 0 -2.589em;
}

.recipes-catalog {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.315em;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .recipes-catalog {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .recipes-catalog {
        justify-content: center;
        flex-wrap: wrap;
    }
}
.recipes-catalog {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recipes-catalog .recipe {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    width: 30%;
}
/*.recipes-catalog .recipe:nth-child(2) {
    margin: 0 3%;
    margin-bottom: 1.5%;
}
.recipes-catalog .recipe:nth-child(4),.recipes-catalog .recipe:nth-child(5) {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
}*/
.recipes-catalog .recipe.hidden {
    display: none;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .recipes-catalog .recipe {
        width: 48%;
        flex: 0 0 auto;
        margin-bottom: 2em;
    }
}

@media (max-width: 700px) {
    .recipes-catalog .recipe {
        width: 100%;
        flex: 0 0 auto;
        margin-bottom: 5em;
    }
}

.recipes-catalog .recipe .details {
    display: none;
}

@media (max-width: 700px) {
    .recipes-catalog .recipe .details {
        display: flex;
        justify-content: space-around;
    }

    .recipes-catalog .recipe .details .time, .portion {
        width: auto;
    }
}

.recipes-catalog .recipe__caption {
    margin-top: 1.3em;
    line-height: 1.2;
    min-height: 2.8em;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .recipes-catalog .recipe__caption {
        min-height: auto;
        margin-bottom: 0.5em;
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    .recipes-catalog .recipe__caption {
        min-height: auto;
        margin-bottom: 0.5em;
    }
}

.recipes-catalog .recipe .recipe__photo {
    width: 100%;
    height: 21.7em;
    min-height: auto;
}

.all-recipes .recipes-more {
    padding: 2.8em 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    .all-recipes .recipes-more {
        padding: 0 35px;
    }

    .all-recipes .recipes-more .btn--orange {
        width: 100%;
    }
}

.all-products {
    padding: 5.2em 0;
}

.all-products .section-title {
    /*margin-bottom: 80px;*/
    margin-bottom: 0.55em;
}

@media (max-width: 700px) {
    .all-products .section-title {
        margin-bottom: .7em;
    }
}

.all-products-slider-wrap {
    width: 100%;
}
.all-products .slick-track {
    height: 54em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.all-products .product-slide {
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
}

.all-products .product-slide-inner .product__rating {
    display: none;
}

@media (max-width: 700px) {
    .all-products .product-slide-inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        width: 90%;
        box-shadow: 0 0 13px 6px rgba(0, 0, 0, .2);
        margin: 2em auto;
        border-radius: 1em;
        background-image: url(../img/bg-promo.png);
        background-position: center top;
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 4em;
        align-items: center;
        justify-content: center;
    }

    .all-products .product-slide-inner .product__rating {
        display: block;
        margin-bottom: 4.3937em;
    }
}

.all-products .product__item {
    display: inline-block;
    /*width: 237px;*/
    /*height: 334px;*/
    width: 21.965em;
    height: 30.955em;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    /*margin-top: 59px;*/
    /*margin-bottom: 45px;*/
    margin-top: 5.4619em;
    margin-bottom: 0;
}

.all-products .product-slide.slick-current .product__item {
    margin-bottom: 0;
}

@media (max-width: 700px) {
    .all-products .product-slide .product__item {
        width: 21em;
        height: auto;
        margin-top: 0;
    }
}

.all-products .product__title {
    text-align: center;
    color: #01336e;
    font-family: "Open Sans Condensed";
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0.84175em;
}

@media (max-width: 700px) {
    .all-products .product__title {
        font-size: 2.6em;
    }
}

.all-products .description {
    color: #01336e;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1em;
}

.all-products .slider-controls {
    display: inline-flex;
    margin: 0;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .all-products .slider-controls
}

.all-products-controls {
    margin-top: 5.8em;
}

@media (max-width: 700px) {
    .all-products-controls {
        margin-top: 2.6em;
    }
}

.all-products-controls .btn--promo-buy, a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #fff;
}

.all-products .btn--promo-buy {
    position: absolute;
    right: 4.5em;
}

@media (max-width: 1024px) and (min-width: 700px) {
    .all-products-controls {
        margin-top: 0;
    }

    .all-products-controls .row {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /*justify-content: space-between;*/
    }

    .all-products-controls .row .btn--promo-buy {
        position: relative;
        right: 0;
        margin-top: 2em;
    }
}

@media (max-width: 700px) {
    .all-products-controls .row {
        padding: 0 35px;
    }

    .all-products-controls .row .btn--promo-buy {
        width: 100%;
        position: relative;
        margin: 1.25em 0;
    }
    .all-products .btn--promo-buy {
        position: relative;
        right: auto;
        left: auto;
    }
}

.potato {
    background-image: url(../img/potato.svg);
}

.fish {
    background-image: url(../img/faq-ivasi-big.svg);
}

.carrot {
    background-image: url(../img/carrot.svg);
}

@media (max-width: 1920px) and (min-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1600px) and (min-width: 1440px) {
    .container {
        max-width: 1100px;
    }

    .logo {
        /*left: 2.5em;*/
    }
}

@media (max-width: 1440px) and (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }

    .logo {
        /*left: 0;*/
    }
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1024px) and (min-width: 700px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 700px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .product .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

@media (max-width: 700px) {
    .all-products {
        padding-bottom: 14em;
    }
    .all-products-slider-wrap {
        width: 100vw;
        margin-left: 0% !important;

    }
    .all-products .slick-list {
        padding: 0 5.5em !important;
        padding-bottom: 8em !important;
        padding-top: 1em !important;
        height: inherit !important;
    }
    .all-products .product-slide {
        display: -webkit-flex !important;
        display: -moz-flex !important;
        display: -ms-flex !important;
        display: -o-flex !important;
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
    }
    .all-products .product-slide-inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        width: 90%;
        box-shadow: 0 0 13px 6px rgba(0, 0, 0, .2);
        margin: 2em auto;
        border-radius: 1em;
        background-image: url(../img/bg-promo.png);
        background-position: center top;
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 4em;
        width: 95% !important;
        transform: translateX(-5.5em);
        padding-top: 7em !important;
    }
    .all-products .product-slide > div {
        width: 100%;
    }
/*    .all-products .product-slide.slick-current .product__item {
        position: relative;
        display: block;
        height: auto;
        z-index: 10;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width: 21em;
    }*/
}