* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
*
* grid
*
*/
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row { margin: 0 -15px; }
.row::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-12  {
  float: left;
  padding: 0 15px;
}

.col-lg-1 { width: 8.33%; }
.col-lg-2 { width: 16.66%; }
.col-lg-3 { width: 25%; }
.col-lg-4 { width: 33.33%; }
.col-lg-5 { width: 41.66%; }
.col-lg-6 { width: 50%; }
.col-lg-7 { width: 58.33%; }
.col-lg-8 { width: 66.66%; }
.col-lg-9 { width: 75%; }
.col-lg-20 { width: 83.33%; }
.col-lg-11 { width: 91.66%; }
.col-lg-12 { width: 100%; }

.col-lg-pull-0 { right: auto; }
.col-lg-pull-1 { right: 8.33333%; }
.col-lg-pull-2 { right: 16.66667%; }
.col-lg-pull-3 { right: 25%; }
.col-lg-pull-4 { right: 33.33333%; }
.col-lg-pull-5 { right: 41.66667%; }
.col-lg-pull-6 { right: 50%; }
.col-lg-pull-7 { right: 58.33333%; }
.col-lg-pull-8 { right: 66.66667%; }
.col-lg-pull-9 { right: 75%; }
.col-lg-pull-10 { right: 83.33333%; }
.col-lg-pull-11 { right: 91.66667%; }
.col-lg-pull-12 { right: 100%; }

.col-lg-push-0 { left: auto; }
.col-lg-push-1 { left: 8.33333%; }
.col-lg-push-2 { left: 16.66667%; }
.col-lg-push-3 { left: 25%; }
.col-lg-push-4 { left: 33.33333%; }
.col-lg-push-5 { left: 41.66667%; }
.col-lg-push-6 { left: 50%; }
.col-lg-push-7 { left: 58.33333%; }
.col-lg-push-8 { left: 66.66667%; }
.col-lg-push-9 { left: 75%; }
.col-lg-push-10 { left: 83.33333%; }
.col-lg-push-11 { left: 91.66667%; }
.col-lg-push-12 { left: 100%; }

.col-lg-offset-0 { margin-left: 0%; }
.col-lg-offset-1 { margin-left: 8.33333%; }
.col-lg-offset-2 { margin-left: 16.66667%; }
.col-lg-offset-3 { margin-left: 25%; }
.col-lg-offset-4 { margin-left: 33.33333%; }
.col-lg-offset-5 { margin-left: 41.66667%; }
.col-lg-offset-6 { margin-left: 50%; }
.col-lg-offset-7 { margin-left: 58.33333%; }
.col-lg-offset-8 { margin-left: 66.66667%; }
.col-lg-offset-9 { margin-left: 75%; }
.col-lg-offset-10 { margin-left: 83.33333%; }
.col-lg-offset-11 { margin-left: 91.66667%; }
.col-lg-offset-12 { margin-left: 100%; }

.lg-hide { display: none; }
.lg-show { display: block; }

.clearfix {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*
*
* common styles
*
*/
html {
  font-size: 10px;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background: #f4f4f4;
}
.fixed_scroll {
  position: fixed;
}
/*
*
* header
*
*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  display: inline-block;
  height: 40px;
  margin: 15px 0;
}
nav {
  float: right;
}
nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
nav ul li:last-of-type {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 70px;
}
nav ul li a:hover {
  border-bottom: 1px solid #fff;
}
.box--head {
  position: relative;
  min-height: 680px;
  background-image: url(../img/slide_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.box--main_offer {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main_offer__slogan {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2;
}
.main_offer {
  font-size: 3.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main_offer__description {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: lighter;
  background: #9cc88a;
  border: 1px solid #9cc88a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #f0f5ee;
  color: #333;
  transition: 0.3s;
}
.btn--light {
  background: #f0f5ee;
  color: #333;
  border: 1px solid #f0f5ee;
  transition: 0.3s;
}
.btn--light:hover {
  background: #9cc88a;
  border: 1px solid #9cc88a;
  color: #fff;
  transition: 0.3s;
}

.offers-content .btn--light {
  margin-right: 15px;
}



.box {
  padding: 80px 0;
}
/*
*
* header and promo
*
*/
.section__header,
.section__header--light {
  display: block;
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.section__header--light { color: #fff; }
.section__header::after,
.section__header--light::after {
  position: absolute;
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #000;
  bottom: -7px;
  left: 50%;
  margin-left: -35px;
}
.section__header--light:after { background: #fff; }
/*
*
* abilities
*
*/
.row--ability {
  padding-top: 60px;
}
.ability {
  background-color: #fff;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 0 15px 1px #ccc;
  min-height: 225px;
}
.ability__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 25px;
}
.ability__icon--customization { background-image: url(../img/first-service-main.png); }
.ability__icon--ideas { background-image: url(../img/second-service-main.png); }
.ability__icon--profit { background-image: url(../img/third-service-main.png); }
.ability__icon--public { background-image: url(../img/fourth-service-main.png); }

.ability__header {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.ability__description {
  font-size: 1.3rem;
  line-height: 1.5;
}
/*
*
* new offers
*
*/
.box-offers {
  background-image: url(../img/what-we-do-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  color: #fff;
}
.offers-content {
  padding-right: 10px;
}
.offers__header {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}
.offers__text {
  display: block;
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 30px;
}
/* .btn--light { */
/* margin-right: 20px; */
/* } */
.offers-photo img {
  width: 100%;
}
/*
*
* gallery
*
*/
.portfolio__tags {
  display: block;
  text-align: center;
  margin: 60px auto;
  font-size: 1.4rem;
  color: #999;
}
.portfolio__tags li {
  display: inline-block;
  list-style-type: none;
}
.portfolio__tags li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0 10px;
}
.portfolio__tags li a.active {
  color: #9cc88a;
  line-height: 2;
}
.row--gallery img {
  width: 100%;

  /* margin-bottom: 30px; */
}
.row--gallery .col-lg-3 {
  margin-bottom: 10px;
  padding: 0 8px;
}
.row--gallery a {
  display: inline-block;
}
/*
*
* blog posts
*
*/
.box--blogs {
  background-image: url(../img/blog-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.row--posts {
  margin-top: 60px;
}
.row--posts img {
  width: 100%;
}
.row--posts .col-lg-3,
.row--posts .col-lg-6 {
  padding: 0 15px;
}
.blog__post {
  position: relative;
}
.blog__post--first {
  margin-bottom: 25px;
}
.post__caption {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  padding: 20px 20px 15px;
}
.post__caption--header {
  font-size: 1.6rem;
  margin-bottom: 7px;
  font-weight: bold;
}
.post__caption--description {
  font-size: 1.2em;
}
.post-catpion-description span {
  font-weight: bold;
}
/*
*
* advantages
*
*/
.box--advantages {
  background: #feffff;
}
.advantage {
  background: #f3f4f5;
  padding: 40px 0 30px;
  text-align: center;
}
.advantage--count {
  font-size: 2rem;
  font-weight: bold;
  color: #9cc88a;
  margin-bottom: 10px;
}
.advantage--description {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #999;
}
/*
*
* contacts
*
*/
.box--contacts {
  background: url(../img/contact-bg.png) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.row--contacts {
  margin-top: 60px;
}
.box__map img {
  width: 100%;
}
.contacts_form--name,
.contacts_form--email,
.contacts_form--message {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background: #606060;
  opacity: 0.5;
  border: none;
  color: #fff;
}
.contacts_form--message {
  height: 160px;
}
.contacts_form--input::-webkit-input-placeholder { color:#fff; }
.contacts_form--input::-moz-placeholder { color:#fff; }
.contacts_form--input:-moz-placeholder { color:#fff; }
.contacts_form--input:-ms-input-placeholder { color:#fff; }
/*
*
* footer
*
*/
footer {
  background: #1d2527;
  padding: 30px 0;
}
.copyrights {
  font-size: 1.2rem;
  color: #fff;
  line-height: 33px;
}
.copyrights a {
  color: #af2b2b;
  text-decoration: none;
}
.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #9cc88a;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 50%;
  background-size: 50%;
  border-radius: 50%;
  margin-left: 5px;
}
.box__socials { text-align: right; }
.social--facebook { background-image: url(../img/facebook.svg); }
.social--twitter { background-image: url(../img/twitter.svg); }
.social--linkedin { background-image: url(../img/linkedin.svg); }
.social--rss { background-image: url(../img/rss.svg); }
.social--dribbble { background-image: url(../img/dribbble.svg); }


.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  background: #efefef;
  min-height: 50px;
  width: 450px;
  border-radius: 10px;
  z-index: 15;
  text-align: center;
  padding: 40px;
}
.popup_header {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #9cc88a;
  margin-bottom: 40px;
}
.popup_input {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px 0 5px 20px;
  color: #444;
  line-height: 2;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
}
.popup_submit {
  margin-top: 30px;
}
.dark_layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
}

@media (max-width: 1100px) {
  .ability {
    min-height: 240px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  .col-md-1 { width: 8.33%; }
  .col-md-2 { width: 16.66%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33%; }
  .col-md-5 { width: 41.66%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33%; }
  .col-md-8 { width: 66.66%; }
  .col-md-9 { width: 75%; }
  .col-md-20 { width: 83.33%; }
  .col-md-11 { width: 91.66%; }
  .col-md-12 { width: 100%; }

  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-12 { right: 100%; }

  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-12 { left: 100%; }

  .col-md-offset-0 { margin-left: 0%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-12 { margin-left: 100%; }

  .md-hide { display: none; }
  .md-show { display: block; }

  .ability {
    min-height: 270px;
  }
}

@media (max-width: 940px) {
  .ability {
    min-height: 200px;
  }
  .row--ability .col-lg-3 {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 840px) {

}
@media (max-width: 785px) {
  .row--ability .col-lg-3 {
    margin-bottom: 30px;
  }
  .ability {
    min-height: 220px;
  }
}
@media (max-width: 768px) {
  .col-sm-1 { width: 8.33%; }
  .col-sm-2 { width: 16.66%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33%; }
  .col-sm-5 { width: 41.66%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33%; }
  .col-sm-8 { width: 66.66%; }
  .col-sm-9 { width: 75%; }
  .col-sm-20 { width: 83.33%; }
  .col-sm-11 { width: 91.66%; }
  .col-sm-12 { width: 100%; }

  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }

  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }

  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; }

  .sm-hide { display: none; }
  .sm-show { display: block; }

  nav ul li {
    margin: 0 5px;
  }
  .box {
    padding: 40px 0;
  }
  .box--head {
    min-height: 450px;
  }
  .box--main_offer {
    top: 65%;
  }
  .offers-content {
    text-align: center;
  }
  .offers__header {
    text-align: left;
    font-size: 2rem;
  }
  .offers__text {
    text-align: left;
    line-height: 1.5;
  }
  .row--gallery .col-lg-3 {
    margin-bottom: 10px;
    padding: 0 7px;
  }
  .row--gallery .col-lg-3 img {
    margin-bottom: 0;
  }
  .blog__post {
    margin-bottom: 30px;
  }
  .blog__post img {
    height: 100%;
  }
  .ability__description {
    font-size: 1.2rem;
  }

}

@media (max-width: 540px) {
  .col-xs-1 { width: 8.33%; }
  .col-xs-2 { width: 16.66%; }
  .col-xs-3 { width: 25%; }
  .col-xs-4 { width: 33.33%; }
  .col-xs-5 { width: 41.66%; }
  .col-xs-6 { width: 50%; }
  .col-xs-7 { width: 58.33%; }
  .col-xs-8 { width: 66.66%; }
  .col-xs-9 { width: 75%; }
  .col-xs-20 { width: 83.33%; }
  .col-xs-11 { width: 91.66%; }
  .col-xs-12 { width: 100%; }

  .col-xs-pull-0 { right: auto; }
  .col-xs-pull-1 { right: 8.33333%; }
  .col-xs-pull-2 { right: 16.66667%; }
  .col-xs-pull-3 { right: 25%; }
  .col-xs-pull-4 { right: 33.33333%; }
  .col-xs-pull-5 { right: 41.66667%; }
  .col-xs-pull-6 { right: 50%; }
  .col-xs-pull-7 { right: 58.33333%; }
  .col-xs-pull-8 { right: 66.66667%; }
  .col-xs-pull-9 { right: 75%; }
  .col-xs-pull-10 { right: 83.33333%; }
  .col-xs-pull-11 { right: 91.66667%; }
  .col-xs-pull-12 { right: 100%; }

  .col-xs-push-0 { left: auto; }
  .col-xs-push-1 { left: 8.33333%; }
  .col-xs-push-2 { left: 16.66667%; }
  .col-xs-push-3 { left: 25%; }
  .col-xs-push-4 { left: 33.33333%; }
  .col-xs-push-5 { left: 41.66667%; }
  .col-xs-push-6 { left: 50%; }
  .col-xs-push-7 { left: 58.33333%; }
  .col-xs-push-8 { left: 66.66667%; }
  .col-xs-push-9 { left: 75%; }
  .col-xs-push-10 { left: 83.33333%; }
  .col-xs-push-11 { left: 91.66667%; }
  .col-xs-push-12 { left: 100%; }

  .col-xs-offset-0 { margin-left: 0%; }
  .col-xs-offset-1 { margin-left: 8.33333%; }
  .col-xs-offset-2 { margin-left: 16.66667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.33333%; }
  .col-xs-offset-5 { margin-left: 41.66667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.33333%; }
  .col-xs-offset-8 { margin-left: 66.66667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.33333%; }
  .col-xs-offset-11 { margin-left: 91.66667%; }
  .col-xs-offset-12 { margin-left: 100%; }

  .xs-hide { display: none; }
  .xs-show { display: block; }

  .box {
    padding: 50px 0 30px 0;
  }
  .box--contacts {
    padding-bottom: 0;
  }
  .box--main_offer {
    top: 65%;
  }
  nav ul li {
    display: block;
    margin: 0;
  }
  nav ul li a {
    line-height: 2;
  }
  .main_offer__description br {
    display: none;
  }
  .box--head {
    min-height: 550px;
  }
  .row--ability .col-xs-12 {
    width: 100%;
    margin-bottom: 15px;
  }
  .ability {
    /* margin-bottom: 15px; */
  }
  .btn {
    font-size: 1rem;
    padding: 7px 15px;
  }
  .offers__header {
    font-size: 2rem;
  }
  .offers__text {
    line-height: 1.5;
  }
  .portfolio__tags {
    margin: 30px 0;
    font-size: 1.2rem;
  }
  .portfolio__tags li a {
    margin: 0 5px;
  }
  .row--gallery .col-sm-6 {
    padding: 0 5px;
    margin-bottom: 5px;
  }
  .row--gallery .col-sm-6 img {
    margin-bottom: 0;
  }
  .row--posts {
    margin-top: 50px;
  }
  .blog__post {
    margin-bottom: 15px;
  }
  .post__caption {
    padding: 10px;
    background: rgba(0,0,0,0.7);
  }
  .post__caption--header {
    font-size: 1rem;
    margin-bottom: 3px;
  }
  .post__caption--description {
    font-size: 0.8rem;
  }
  .row--advantage .col-xs-6 {
    margin-bottom: 15px;
    padding: 0 7px;
  }
  .advantage--count {
    font-size: 2.8rem;
  }
  .row--contacts .col-xs-12 {
    margin-bottom: 30px;
    text-align: center;
  }
  .row--contacts .btn {
    padding: 10px 30px;
  }
  .copyrights {
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .site__performer {
    display: inline-block;
  }
  footer {
    text-align: center;
  }
  .box__socials {
    text-align: center;
  }
  .popup {
    width: 290px;
    padding: 20px;
  }
  .popup_header {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  .popup_input {
    width: 80%;
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 1.2rem;
  }
  .popup_submit {
    margin-top: 15px;
  }
}
